<div class="page-header">


  <h4>
    *Before adding new items, ensure that you have created the categories you need.
  </h4>
  <h1>
    Items
    <a href="/items/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Items (start typing)" class="form-control">
  </div>
</div>

<hr>

<ul class="list-group">
<li class="list-group-item list-group-item-success">Total cost of all items: <%= number_to_currency(@items.sum(:price)) %></li>
</ul>

<div class="row isotope-container">
<% @items.each do |item| %>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= item.name %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <div class="col-md-4">
          <dd><img src=<%= item.picture2 %> class = "img-responsive"></dd>
          </div>

          <div class="col-md-4">
          <dd><%= number_to_currency(item.price) %></dd>
          </div>

          <div class="col-md-4">
          <dd>Qty.<%= item.quantity %></dd>
          </div>

        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/items/<%= item.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

          <a href="/items/<%= item.id %>/edit" class="btn btn-primary">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_item/<%= item.id %>" class="btn btn-primary" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- You can ignore the following. It's a quick and dirty example of how to get a Pinterest-style layout with quick search. -->
<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
