<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @item.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">

              <dt><img src=<%= @item.picture2 %> class = "img-responsive"></dt>
            </dl>
        </div>

          <div class="col-md-8">
            <dl class="dl-horizontal">
              <dt>Category</dt>
              <% c = Category.find_by(:id => @item.category_id) %>
              <dd><%= c.name %></dd>

              <dt>Color</dt>
              <dd><%= @item.color %></dd>

              <dt>Price</dt>
              <dd><%= number_to_currency(@item.price) %></dd>

              <dt>Quantity Owned</dt>
              <dd><%= @item.quantity %></dd>

              <dt>Model/Serial No.</dt>
              <dd><%= @item.model_sn %></dd>

              <dt>Notes</dt>
              <dd><%= @item.notes %></dd>

              <dt>Date Created</dt>
              <dd><%= @item.created_at %></dd>

              <dt>Date Modified</dt>
              <dd><%= @item.updated_at %></dd>

            </dl>
            <div class="btn-group btn-group-justified">


              <%= link_to :back, :class => "btn btn-primary" do %>
                <i class="fa fa-chevron-left"></i>
              <% end %>

              <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
