<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default" >
      <div class="panel-heading" >
        <h3 class="panel-title"><%= @category.name %></h3>
      </div>

      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dd><img src = <%= @category.picture1 %> class = "img-responsive"></dd>
            </dl>

            <div class="btn-group btn-group-justified">
              <a href="/categories" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>
            </div>

            <div>
            <h1>
              Add new items
            <a href="/items/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
           </h1>
            </div>

          </div>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
        These are the items in your <%= @category.name %> category</li>
        <li class="list-group-item list-group-item-success">
        Total cost of all items in this category is <%= number_to_currency(@category.items.sum(:price))%></li>

        <% @category.items.each do |item|%>
        <hr>
          <div class="panel-body">
            <dl>
              <div class="col-md-3">
              <dd><img src=<%= item.picture2 %> class = "img-responsive" class ="roundrect"></dd>
              </div>

              <div class="col-md-3">
              <dd><%= item.name %></dd>
              </div>

              <div class="col-md-3">
              <dd><%= number_to_currency(item.price) %></dd>
              </div>

              <div class="col-md-3">
              <dd>Qty.<%= item.quantity %></dd>
              </div>
            </dl>
          </div>
          <div class="btn-group btn-group-justified">
          <a href="/items/<%= item.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

          <a href="/items/<%= item.id %>/edit" class="btn btn-primary">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_item/<%= item.id %>" class="btn btn-primary" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>


        <% end %>

        <dl>

        </dl>
      </ul>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
